<!-- scripts for javascript and jquarys -->

<div class="container-fluid">
	<div class="row" style="text-align:center;">
		<div class="col-md-12 col-sm-12 col-xs-12">
 		    <p style="font-size:22px;">Copyright &copy; 2017 - <span>Car Villa</span> | All Rights Reserved</p>
        </div>
	</div>
</div>

<script src="/js/prizeCal.js" ></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
</body>

</html>