<% include ../parts/header %>

<section id="Home">
<div id="slider" style="position:relative;">
<figure>
<img src="images/verna_3.jpg" alt class="img-responsive">
<img src="images/verna_2.jpg" alt class="img-responsive">
<img src="images/verna_3.jpg" alt class="img-responsive">
<img src="images/Verna_4.jpg" alt class="img-responsive">
<img src="images/verna_2.jpg" alt class="img-responsive">

</figure>
<p style="bottom:450px; position:relative; font-size:60px;">Welcome to Carvilla<br> <p style="color:#898686; bottom:480px; position:relative; font-size:40px;">Get your choosy car.</p>
</div>
</section>


<section id="About">
	<div class="container">
	    <div class="row" style="padding-bottom:20px;" >
	        <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="padding-top:100px;">
	            <b style="font-size:26px"> Available Companies </b>
	        </div>
	    </div>

        <div class="row" style="padding-bottom:20px;">
	    
            <div class="col-md-4 col-sm-12 col-xs-12">
	    <a href="#" data-toggle="modal" data-target="#myModal7"><img src="images/web101.png" alt class="img-responsive" style="height:180px; width:300px;">
		</a>
            <div class="modal fade" id="myModal7" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Hyundai</h2>
                        </div>
                        <div class="modal-body">
                            <p><b>Hyundai Verna</b></p>
                            <img src="images/web111.png" class="img-responsive" height="100%" width="100%">
                            <div class="modal-footer">
                                <a href="porsche.html" button type="button" class="btn btn-default" data-dismiss="#">Full Details </button></a>
                            </div>
                            <p>Porsche Chandler</p>
                            <img src="images/porsche_chandler.jpg" class="img-responsive" height="100%" width="100%"> <p><strong>Price:</strong>1.25 Cr.</p>
                            <div class="modal-footer">
                                <a href="porsche.html" button type="button" class="btn btn-default" data-dismiss="#">Full Details </button></a>
                            </div>
                            <p>Porsche Carrera</p>
                            <img src="images/web33.jpg" class="img-responsive" height="100%" width="100%">
                            <p>Porsche Panamera</p>
                            <img src="images/web34.jpg" class="img-responsive" height="100%" width="100%">
                            <p>Porsche Cayman</p>
                            <img src="images/web35.jpg" class="img-responsive" height="100%" width="100%">
                        </div>
                        <div class="modal-footer">
                           <a href="" <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
       
            <div class="col-md-4 col-sm-12 col-xs-12">
	    <a href="#" data-toggle="modal" data-target="#myModal8"><img src="images/web102.png" alt class="img-responsive" style="height:180px; width:300px;"> 
        </a>
            <div class="modal fade" id="myModal8" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Koenigsegg</h2>
                        </div>
                        <div class="modal-body">
                            <p>Koenigsegg One</p>
		                        <img src="images/web36.jpg" class="img-responsive" height="100%" width="100%"> 
		                            <p>Koenigsegg Agera</p>
		                        <img src="images/web37.jpg" class="img-responsive" height="100%" width="100%"> 
		                            <p>Koenigsegg Regera</p>
		                        <img src="images/web38.jpg" class="img-responsive" height="100%" width="100%"> 
         
	                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
			
	        <div class="col-md-4 col-sm-12 col-xs-12">
	    <a href="#" data-toggle="modal" data-target="#myModal9"><img src="images/web103.png" alt class="img-responsive" style="height:180px; width:300px;">
		</a>
          <div class="modal fade" id="myModal9" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">Lykan</h2>
                    </div>
                    <div class="modal-body">
		                <p>The only model in Lykan we have is</p>
                        <p>Lykan Hypersport</p>
		                    <img src="images/web39.jpg" class="img-responsive" height="100%" width="100%">   
	                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                    </div>
                </div>    
            </div>
          </div>
        </div>

        </div>
						
		<div class="row" style="padding-bottom:20px;">	

            <div class="col-md-4 col-sm-12 col-xs-12">
        <a href="#" data-toggle="modal" data-target="#myModal10"><img src="images/web104.png" alt class="img-responsive" style="height:180px; width:300px;">
	    </a>
            <div class="modal fade" id="myModal10" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Lamborghini</h2>
                        </div>
                        <div class="modal-body">
                            <p>Lamborghini Centenario</p>
		                        <img src="images/web40.jpg" class="img-responsive" height="100%" width="100%"> 
		                    <p>Lamborghini Veneno</p>
		                        <img src="images/web41.jpg" class="img-responsive" height="100%" width="100%"> 
		                    <p>Lamborghini Aventador </p>
		                        <img src="images/42.jpg" class="img-responsive" height="100%" width="100%"> 
                            <p>Lamborghini Gallardo</p>
		                        <img src="images/web43.jpg" class="img-responsive" height="100%" width="100%">    
	                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
	
            <div class="col-md-4 col-sm-12 col-xs-12">
	    <a href="#" data-toggle="modal" data-target="#myModal11"><img src="images/web105.jpg" alt class="img-responsive" style="height:180px; width:300px;">
		</a>
            <div class="modal fade" id="myModal11" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Ferrari</h2>
                        </div>
                        <div class="modal-body">
                            <p>Fearrari La-ferrari</p>
		                        <img src="images/web44.jpg" class="img-responsive" height="100%" width="100%"> 
		                    <p>Feraari ff</p>
		                        <img src="images/web45.jpg" class="img-responsive" height="100%" width="100%">   
	                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
	
	        <div class="col-md-4 col-sm-12 col-xs-12">
	    <a href="#" data-toggle="modal" data-target="#myModal12"><img src="images/web106.jpg" alt class="img-responsive" style="height:180px; width:300px;">
		</a>
        <div class="modal fade" id="myModal12" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h2 class="modal-title">BMW</h2>
                    </div>
                    <div class="modal-body">
                        <p>BMW i8</p>
		                    <img src="images/web46.jpg" class="img-responsive" height="100%" width="100%"> 
		                <p>BMW 8 series</p>
		                    <img src="images/web18.jpg" class="img-responsive" height="100%" width="100%">   
	                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                    </div>
                </div>    
            </div>
        </div>
        </div>

        </div>
			
        <div class="row" style="padding-bottom:20px;">
				
            <div class="col-md-4 col-sm-12 col-xs-12">
	    <a href="#" data-toggle="modal" data-target="#myModal13"><img src="images/web107.jpg" alt class="img-responsive" style="height:180px; width:300px;">
		</a>
            <div class="modal fade" id="myModal13" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h2 class="modal-title">Buggati</h2>
                        </div>
                        <div class="modal-body">
                            <p>Buggati Chiron</p>
		                        <img src="images/web48.jpg" class="img-responsive" height="100%" width="100%">    
		                    <p>Buggati Veyron</p>
		                        <img src="images/web50.jpg" class="img-responsive" height="100%" width="100%">   
	                    </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                        </div>
                    </div>    
                </div>
            </div>
        </div>
			
	        <div class="col-md-4 col-sm-12 col-xs-12">
		    <a href="#" data-toggle="modal" data-target="#myModal14"><img src="images/web108.jpg" alt class="img-responsive" style="height:180px; width:300px;">
			</a>
                <div class="modal fade" id="myModal14" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Mc Laren</h2>
                            </div>
                            <div class="modal-body">
                                <p>Mc Laren P1</p>
		                            <img src="images/web 49.jpg" class="img-responsive" height="100%" width="100%"> 
	                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                            </div>
                        </div>    
                    </div>
                </div>
        </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
	        <a href="#" data-toggle="modal" data-target="#myModal19"><img src="images/web109.png" alt class="img-responsive" style="height:180px; width:300px;">
			</a>
                <div class="modal fade" id="myModal19" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Mercedez</h2>
                            </div>
                            <div class="modal-body">
                                <p>Mercedez AMG</p>
		                            <img src="images/web47.jpg" class="img-responsive" height="100%" width="100%"> 
	                        </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                            </div>
                        </div>    
                    </div>
                </div>
        </div>		

        </div>
	
	
	</div>	

</section>


<section id="Services">

    <div class="container">
	    
        <div class="row">
		    
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:100px;">
			    <h1 class="text-center">Services and Workshops</h1>
		    </div>
	    
        </div>
	
	
		<div class="row" style="margin-top:70px; margin-bottom:20px;">
			
            <div class="col-md-2 col-sm-12 col-xs-12"></div>
			
            <div class="col-md-3 col-sm-12 col-xs-12">
			    <ul class="a11">
                    <li>
		                <a href="#" data-toggle="modal" data-target="#myModal" style="font-size:20px;">Services & Maintenance</a>
                        <div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h2 class="modal-title">Services & Maintenance</h2>
                                    </div>
                                    <div class="modal-body">
                                        <p>We provide Services and maintenance for your Vehicles, available for both new and old vehicles.We provide a good and healthy services to our customer for the better relationships.</p>
		                                    <img src="images/web25.jpeg" class="img-responsive" height="100%" width="100%"> 
		                                    <img src="images/web26.jpg" class="img-responsive" height="100%" width="100%"> 
		                                    <img src="images/web53.jpg" class="img-responsive" height="100%" width="100%"> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Read more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal2" style="font-size:20px;">Warranties</a>
                        <div class="modal fade" id="myModal2" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Warranties</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>The warranty period we provide is really beneficial it includes company's warraty plan, added with our extra six month warranty. Our warranty card will be provided that will be proper and genuine for our customers.</p>
		                                    <img src="images/web27.png" class="img-responsive" height="100%" width="100%"> 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Read more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
					
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal3" style="font-size:20px;">Accesories</a>
                        <div class="modal fade" id="myModal3" role="dialog">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Accesories</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>All the necessary accesories to decor your car is all available at our show room all original company accesories and everything.</p>
		                                        <img src="images/web28.jpg" class="img-responsive" height="100%" width="100%">
		                                        <img src="images/web29.jpg" class="img-responsive" height="100%" width="100%"> 
		                                        <img src="images/web30.jpg" class="img-responsive" height="100%" width="100%">  
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">More Accesories</button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </li>
                </ul>
            </div>
            
            <div class="col-md-2 col-sm-12 col-xs-12"></div>
		    
            <div class="col-md-3 col-sm-12 col-xs-12">
			    <ul class="a11">	
				    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal4" style="font-size:20px;">Service Appointments</a>
                        <div class="modal fade" id="myModal4" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Service Appointments</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>You can book your service appointments online from our site just by giving your name and number on the given form and your Service appointment will be taken and also you will get a confirmation message on your mobile number provided in which your service appointment date & time will be metioned.</p>
		                                <p>Form for Service Appointment-</p>
                                            <form action="#">
  		                                        First name:<br>
  		                                            <input type="text" name="Firstname" value="">
  		                                            <br>
  		                                        Mobile Number:<br>
  		                                            <input type="text" name="Mobile Number" value="">
  		                                            <br><br>
  		                                            <input type="submit" value="Submit">
	                                        </form> 
		  
                                    </div>
                                    <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Call Appointment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
					
                    <li>
                        <a href="#" data-toggle="modal" data-target="#myModal5" style="font-size:20px;">Finance & Insuarance</a>
                        <div class="modal fade" id="myModal5" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Finance & Insuarance</h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>We provide Finance and Insuarance for your vehicle so it becomes really easy for you to buy a vehicle.Low rate finance is available so without investing lot of money you can take your car home.All docummentation and process will be really easy at our show room, geuine documents and agreements will make you tension free and help you to enjoy your vehicle very nicely.</p>
		                                <p>Our happy customers.</p>
		                                    <img src="images/web52.jpg" class="img-responsive" height="100%" width="100%">
		                            </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Read more</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
				</ul>
		    </div>
			
            <div class="col-md-2 col-sm-12 col-xs-12"></div>
		
        </div>
	
    </div>

</section>


<section id="ContactUs">
    
    <div class="container">
        
        <div class="row" >
            <div class="col-md-12 col-sm-12 col-xs-12" style="padding-top:100px;">
                <h3 style="font-size:24px;" class="text-center">Contact Us</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
		        <a href="#">
                    <i class="fa fa-twitter-square" style="font-size:40px; padding:10px;"></i>
                </a>
			    <a href="#">
                    <i class="fa fa-facebook-square" style="font-size:40px; padding:10px;"></i>
                </a>
			    <a href="#">
                    <i class="fa fa-snapchat-square" style="font-size:40px; padding:10px;"></i>
                </a>
            </div>
        </div>

        <div class="row">
	        <div class="col-md-12 col-sm-12 col-xs-12" style="font-size:20px; padding-top:10px; padding-bottom:10px;">
			    <ul>
				    <a href="#">
                       <i class="fa  fa-phone" style="font-size:30px; padding:10px;"></i>+91 123461789,<span></span> 21319889248
                    </a>
			    </ul>	
			</div>
        </div>

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom:20px;">
                <div class='embed-container  maps'>
                    <span><i class="fa fa-map-marker" style="font-size:30px; padding:10px;"></i>Directions on Map</span>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3717.252606157102!2d70.2538953145101!3d21.301032685851528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bfd50bc10c0bdaf%3A0x53f21635abcfa04c!2sAirport+Rd%2C+Jagdish+Park%2C+Keshod%2C+Gujarat+362220!5e0!3m2!1sen!2sin!4v1497094918782" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>

    </div>

</section>

<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">   
                <!-- <button type="button" class="btn action" data-toggle="modal" data-target="#myModal88" style="height:60px;">Book a Test Drive</button> -->

	        <a href="#" data-toggle="modal" data-target="#myModal88"> 
                
	        </a>
                <div class="modal fade" id="myModal88" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h2 class="modal-title">Book a Test Drive</h2>
                            </div>
                            <div class="modal-body">
                                <p>Fill the form below and you can get your test drive booked online no need to call at the Show Room you will get an confirmation message.</p><br>
                                    <form action="#">
  		                                First name:
  		                                    <input type="text" name="Firstname" value="">
  		                                        <br><br>
  		                                Mobile Number:
  		                                    <input type="text" name="Mobile Number" value="">
  		                                        <br><br>
                                        Name of the Car you want to have a test drive:<br>
  		                                    <input type="radio" name="gender" value="male" checked>Hyundai<br>
											<input type="radio" name="gender" value="male">Toyota<br>
											<input type="radio" name="gender" value="male">Skoda<br>
											<input type="radio" name="gender" value="male">Honda<br>
											<input type="radio" name="gender" value="male">Tata<br>
											<input type="radio" name="gender" value="male">Ford<br>
                                            <input type="radio" name="gender" value="female">Suzuki<br>
                                            <input type="radio" name="gender" value="other">VolksWagon 
  		                                        <br><br>
                                        Date:
                                            <input type="text" name=" Name of the Car you want to have a test drive" value="">
                                                <br><br>
  		                                    <input type="submit" value="Submit">
	                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Back to home</button>
                            </div>
                        </div>    
                    </div>
                </div>
        </div>		
                       
        </div>
</div>


<div class="container">

    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">   
                <!-- <button type="button" class="btn action" data-toggle="modal" data-target="#myModal99" style="height:60px; margin-top:90px;">Compare CARS</button> -->

	        <a href="#" data-toggle="modal" data-target="#myModal99"> 
                
	        </a>
                <div class="modal fade" id="myModal99" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <div class="container">
                                    <h2 class="modal-title">Compare</h2>
                                </div>  
                            </div>
                            
                            <div class="modal-body">
                                <div class=" container-fluid">
                                    <div class="row">
                                        <div class=" col-md-6 col-sm-6 col-xs-6">
                                            <form action="#">

                                                Select the Car you want to Compare:<br>
                                                <input type="radio" name="gender" value="male" checked>Hyundai<br>
                                                <input type="radio" name="gender" value="male">Toyota<br>
                                                <input type="radio" name="gender" value="male">Skoda<br>
                                                <input type="radio" name="gender" value="male">Honda<br>
                                                <input type="radio" name="gender" value="male">Tata<br>
                                                <input type="radio" name="gender" value="male">Ford<br>
                                                <input type="radio" name="gender" value="female">Suzuki<br>
                                                <input type="radio" name="gender" value="other">VolksWagon
                                                <br><br>

                                            </form>

                                        </div>
                                        <div class=" col-md-6 col-sm-6 col-xs-6">
                                            <form action="#">

                                                Name of the Car you want to Compare:<br>
                                                <input type="radio" name="gender" value="male" checked>Hyundai<br>
                                                <input type="radio" name="gender" value="male">Toyota<br>
                                                <input type="radio" name="gender" value="male">Skoda<br>
                                                <input type="radio" name="gender" value="male">Honda<br>
                                                <input type="radio" name="gender" value="male">Tata<br>
                                                <input type="radio" name="gender" value="male">Ford<br>
                                                <input type="radio" name="gender" value="female">Suzuki<br>
                                                <input type="radio" name="gender" value="other">VolksWagon
                                                <br><br>
                                                Select prize:<br>

                                            </form>

                                        </div>
                                    </div>
                                </div>
                         
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Compare</button>
                            </div>
                        </div>    
                    </div>
                </div>
        </div>		
                       
        </div>
</div>



</body>
</html>

<% include ../parts/footer %>